body {
     margin: 0;
     padding: 0;
     background: #fff;
     font-family: sans-serif;
     height: 100vh;
   }
   .login-box {
     display: block;
   }

   .login-box1 {
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     display:flex;
   }

   .login-box1 p {

    margin-top: 7%;
    margin-left: 10%;
   }

   .login-box h1 {
     margin: 0;
     padding: 0 0 20px;
     text-align: center;
     font-size: 22px;
     text-transform: uppercase;
   }
   
   .login-box select {
    margin-top: 6%;
    margin-right: 5%;
    text-align: center;
    font-size: 10px;
    height: 0%;
    padding: 10px;
    text-transform: uppercase;
  }

   .login-box2{
     text-align: justify;
     font-size: 17px;
     width: 50%;
     margin-left: 25%;
     margin-right: 25%;
   }

   .login-box2 h3, a{
     text-decoration: none;
     text-align: center;
   }
    
   .login-box1 input[type="text"],
   .login-box1 input[type="password"] {
     border: 1px solid rgb(191, 225, 241);
     background: transparent;
     outline: none;
     height: 30px;
     color: #000;
     font-size: 16px;
     width: 100%;
     margin-top: 5%;
     padding: 1%;
   }
   
   .login-box1 input[type="submit"] {
     border: none;
     outline: none;
     height: 30px;
     background: #0575e6;
     color: #fff;
     font-size: 18px;
     border-radius: 5%;
     margin:6%;
     width: 15%;
   }
   
   .login-box1 button {
     border: none;
     outline: none;
     height: 40px;
     background: #0575e6;
     color: #fff;
     font-size: 18px;
     border-radius: 20px;
   }
   
   .login-box1 input[type="submit"]:hover {
     cursor: pointer;
     background: #00f260; /* fallback for old browsers */
     background: -webkit-linear-gradient(
       to right,
       #0575e6,
       #00f260
     ); /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(
       to right,
       #0575e6,
       #00f260
     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
     color: #fff;
   }
   
   .login-box1 button:hover {
     cursor: pointer;
     background: #00f260; /* fallback for old browsers */
     background: -webkit-linear-gradient(
       to right,
       #0575e6,
       #00f260
     ); /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(
       to right,
       #0575e6,
       #00f260
     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
     color: #000;
   }
   
   .login-box1 a {
     text-decoration: none;
     font-size: 12px;
     line-height: 20px;
     color: darkgrey;
   }
   
   .login-box1 a:hover {
     color: rgb(243, 64, 64);
   }
   